<fieldset class="layer-group"><legend>건물</legend>
<label><input id="buildings3d" type="checkbox" checked>주요 건물·시설</label><label><input id="sijeon3d" type="checkbox" checked>운종가 시전</label><label><input id="sites3d" type="checkbox" checked>유명인 집터</label><label><input id="settlement3d" type="checkbox" checked>추정 주택·상가</label>
</fieldset>
<fieldset class="layer-group"><legend>길·물길·성벽</legend>
<label style="color:#8b6179"><input id="roads3d" type="checkbox" checked>옛길</label><label><input id="walls3d" type="checkbox" checked>성벽·궁궐 담장</label><label><input id="water3d" type="checkbox" checked>청계천·다리</label><label><input id="carve3d" type="checkbox" checked>하천 지형 보정</label>
</fieldset>
<fieldset class="layer-group"><legend>자연</legend>
<label><input id="trees3d" type="checkbox" checked>나무·숲</label><label><input id="granite3d" type="checkbox" checked>화강암 질감</label>
</fieldset>
<fieldset class="layer-group"><legend>사람·이름</legend>
<label><input id="people3d" type="checkbox" checked>걷는 사람</label><label><input id="walking3d" type="checkbox" checked>보행 재생</label><label><input id="names3d" type="checkbox" checked>건물·문·산·지역 이름</label>
</fieldset>
