{% load i18n_ko %}<fieldset class="layer-group"><legend>{% tblock %}건물{% endtblock %}</legend>
<labelNone><input id="buildings3d" type="checkbox" checked>{% tblock %}주요 건물·시설{% endtblock %}</label><labelNone><input id="sijeon3d" type="checkbox" checked>{% tblock %}운종가 시전{% endtblock %}</label><labelNone><input id="sites3d" type="checkbox" checked>{% tblock %}유명인 집터{% endtblock %}</label><labelNone><input id="settlement3d" type="checkbox" checked>{% tblock %}추정 주택·상가{% endtblock %}</label>
</fieldset>
<fieldset class="layer-group"><legend>{% tblock %}길·물길·성벽{% endtblock %}</legend>
<label style="color:#8b6179"><input id="roads3d" type="checkbox" checked>{% tblock %}옛길{% endtblock %}</label><labelNone><input id="walls3d" type="checkbox" checked>{% tblock %}성벽·궁궐 담장{% endtblock %}</label><labelNone><input id="water3d" type="checkbox" checked>{% tblock %}청계천·다리{% endtblock %}</label><labelNone><input id="carve3d" type="checkbox" checked>{% tblock %}하천 지형 보정{% endtblock %}</label>
</fieldset>
<fieldset class="layer-group"><legend>{% tblock %}자연{% endtblock %}</legend>
<labelNone><input id="trees3d" type="checkbox" checked>{% tblock %}나무·숲{% endtblock %}</label><labelNone><input id="granite3d" type="checkbox" checked>{% tblock %}화강암 질감{% endtblock %}</label>
</fieldset>
<fieldset class="layer-group"><legend>{% tblock %}사람·이름{% endtblock %}</legend>
<labelNone><input id="people3d" type="checkbox" checked>{% tblock %}걷는 사람{% endtblock %}</label><labelNone><input id="walking3d" type="checkbox" checked>{% tblock %}보행 재생{% endtblock %}</label><labelNone><input id="names3d" type="checkbox" checked>{% tblock %}건물·문·산·지역 이름{% endtblock %}</label><labelNone><input id="placenames3d" type="checkbox" checked>{% tblock %}동네 이름(방·계·동){% endtblock %}</label>
</fieldset>
