[Unit]
Description=Download AKS objects on 2026-09-20 at 09:00 KST

[Timer]
OnCalendar=2026-09-20 09:00:00 Asia/Seoul
OnBootSec=2min
Persistent=true
AccuracySec=1min
Unit=hanyang3d-aks@objects.service

[Install]
WantedBy=timers.target
